<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".Login.kakaoApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".Diagnose.DiagnoseMain"
            android:parentActivityName=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Setting.Settings"
            android:exported="true"></activity>
        <activity android:name=".Community.CommunityMain"
            android:parentActivityName=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Report.Reporting"
            android:exported="false">
        </activity>
        <activity android:name=".Community.CommunityWrite"
            android:parentActivityName=".Community.CommunityMain"
            android:exported="false">
        </activity>
        <activity android:name=".Diagnose.MoreInfoPopup"
            android:exported="false">
        </activity>
        <activity android:name=".Diagnose.DiagnoseNotSerious"
            android:parentActivityName=".Diagnose.DiagnoseMain"
            android:exported="false">
        </activity>
        <activity android:name=".Diagnose.DiagnoseSerious"
            android:parentActivityName=".Diagnose.DiagnoseMain"
            android:exported="false">
        </activity>
        <activity android:name=".Diagnose.DiagnoseWrite"
            android:parentActivityName=".Diagnose.DiagnoseMain"
            android:exported="false"/>
        <activity android:name=".Diagnose.DiagnoseAudio"
            android:parentActivityName=".Diagnose.DiagnoseMain"
            android:exported="false">
        </activity>
        <activity android:name=".NumberSearch.NumSearch"
            android:parentActivityName=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".NumberSearch.NumNotSearch"
            android:parentActivityName=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Ban.BanHistory"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false">
        </activity>
        <activity android:name=".MyPage.MypageMain"
            android:parentActivityName=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".MyPage.MypageEdit"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false">
        </activity>
        <activity android:name=".Community.CommunityPost"
            android:parentActivityName=".Community.CommunityMain"
            android:exported="false">
        </activity>

        <activity android:name=".Home.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".SignUp.SignUp"
            android:parentActivityName=".Login.LogIn"
            android:exported="false">
        </activity>
        <activity android:name=".MyPage.MyWritingHistory"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false"/>
        <activity android:name=".Ban.BanHistoryNone"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false"/>
        <activity android:name=".QnA.QnA"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false"/>
        <activity android:name=".QnA.QnAWrite"
            android:parentActivityName=".QnA.QnA"
            android:exported="false"/>
        <activity android:name=".Report.ReportHistory"
            android:parentActivityName=".MyPage.MypageMain"
            android:exported="false"/>
        <activity
            android:name=".Login.LogIn"

            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.capstone.Report.ReportingEnd" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao0f1040431656008dfafba9b194dcb098" />
            </intent-filter>
        </activity>
    </application>

</manifest>