<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".DiagnoseMain"
            android:exported="false">
        </activity>
        <activity android:name=".Settings"
            android:exported="true"></activity>
        <activity android:name=".CommunityMain"
            android:exported="false">
        </activity>
        <activity android:name=".Reporting"
            android:exported="false">
        </activity>
        <activity android:name=".CommunityWrite"
            android:exported="false">
        </activity>
        <activity android:name=".MoreInfoPopup"
            android:exported="false">
        </activity>
        <activity android:name=".DiagnoseNotSerious"
            android:exported="false">
        </activity>
        <activity android:name=".DiagnoseSerious"
            android:exported="false">
        </activity>
        <activity android:name=".DiagnoseWrite"
            android:exported="false">
        </activity>
        <activity android:name=".NumSearch"
            android:exported="false">
        </activity>
        <activity android:name=".NumNotSearch"
            android:exported="false">
        </activity>
        <activity android:name=".BanHistory"
            android:exported="false">
        </activity>
        <activity android:name=".MypageMain"
            android:exported="false">
        </activity>
        <activity android:name=".MypageEdit"
            android:exported="false">
        </activity>
        <activity android:name=".CommunityPost"
            android:exported="false">
        </activity>

        <activity android:name=".LogIn"
            android:exported="false">
        </activity>
        <activity android:name=".SignIn"
            android:exported="false">
        </activity>
        <activity android:name=".MyWritingHistory"
            android:exported="false"/>
        <activity android:name=".BanHistoryNone"
            android:exported="false"/>
        <activity android:name=".QnA"
            android:exported="false"/>
        <activity android:name=".QnAWrite"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.capstone.ReportingEnd" />
    </application>

</manifest>